# fly.toml app configuration file generated for lauraai-rpc on 2026-02-10T17:23:12+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lauraai-rpc'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 8545
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
